/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;  /* Ensure the body takes the full height of the screen */
    display: flex;
    flex-direction: column;
}

/* Navigation Bar Styles */
.nav-bar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 85px;
    background-color: white;
    justify-content: space-between;
    z-index: 99;
    position: fixed;
    top: 0;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar .logo {
    height: 100%;
}

.nav-bar .logo img {
    height: 100%;
}

.nav-bar #nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-bar #nav-links li a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

#nav-links li {
    position: relative;
}

#nav-links li a::before {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #036e3a;
    position: absolute;
    bottom: -10px;
    transition: all .3s ease;
    border-radius: 15px;
    left: 0.4%;
}

#nav-links .activate a::before,
#nav-links li a:hover::before {
    width: 100%;
}

/* User Info Styles */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #444;
    position: relative;
    right: 50px;
}

#user-name {
    font-weight: bold;
    color: #444;
}

/* Style for logout link */
#logout {
    color: #444;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 10px;
}
#logout {
    display: none;
}

#logout i {
    font-size: 1.2rem;
}

#logout:hover {
    color: #036e3a;
    background-color: #f0f0f0;
    border-color: #036e3a;
}

/* Notification styles */
.notifications {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notifications .fa-bell {
    font-size: 1.5rem;
    color: #444;
    margin-right: 10px;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    font-weight: bold;
}

.user-info #user-profile-link i.fa-user {
    color: black; /* Set the color to black */
}
/* Mobile Menu Styles */
.menu-icon {
    display: block; /* Ensure it is visible */
    position: absolute;
    right: 10px; /* Adjust to your preference */
    top: 50%; /* Vertically center it */
    transform: translateY(-50%);
    z-index: 1000; /* Ensure it's on top of other elements */
    color: #444; /* Ensure it's visible with appropriate color */
}

#machine-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.machine-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.machine-image-container {
    flex-shrink: 0; /* Prevent the image from shrinking */
    width: 100px; /* Set a fixed width for the image */
    margin-right: 20px; /* Space between the image and the name */
}

.machine-image-container img {
    width: 100%; /* Image will fill the width of the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Add rounded corners */
}

#machine-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #422424;
}

/* Lightbox overlay */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Lightbox content (the enlarged image) */
.lightbox-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Close button for lightbox */
.close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}


/* Center the review section */
.review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d4e7df;
}

.rate-product {
    background: white;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 650px;
    border-radius: 10px;
}

.rate-product h2 {
    margin-bottom: 10px;
    text-align: left;
}

/* Product info*/
.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rating-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0;
    gap: 50px; /* Added gap between label and stars */
}

.rating-section label {
    font-weight: bold;
    flex: 0 0 150px; /* Ensuring fixed width for labels to align vertically */
}


.stars {
    display: flex;
    gap: 5px;
    flex: 2;
}

.stars .fa-star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.stars .fa-star:hover,
.stars .fa-star.selected {
    color: gold;
}

/* Styling the buttons */
button[type="submit"],
button[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

button[type="button"] {
    background-color: #ccc;
}

button[type="submit"] {
    background-color: #ffcccb;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #f28b82;
}

button[type="button"]:hover {
    background-color: #aaa;
}
#submit-button {
    background-color: #f5c6c6;  /* Disabled button color */
    cursor: not-allowed;
    opacity: 0.5;
}

/* Active button style when form is complete */
#submit-button.active {
    background-color: #f76c6c;  /* Active button color */
    cursor: pointer;
    opacity: 1;
}
/* Align the cancel and submit buttons */
.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.rating-label {
    text-align: right;
    flex: 1;
    font-size: 14px;
    color: #444;
}

.rating-label.highlight {
    color: gold;
}
/* Style for the comment box */
.review-comment {
    margin-top: 15px;
}

.review-comment label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.review-comment textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}


/* Style for media upload buttons */
.media-upload {
    margin-top: 15px;
}

.media-upload button {
    background-color: #f28b82;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.media-upload button i {
    margin-right: 5px;
}

.media-upload button:hover {
    background-color: #e57373;
}

#photo-filename {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
#add-photo-button {
    display: none;
}
/* Style for the uploaded image thumbnail */
#photo-preview-container {
    margin-top: 10px;
}

#photo-preview-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
}
.thumbnail-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Style for the uploaded image thumbnail */
.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Specific styling for the remove button */
.thumbnail-container .remove-button {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Ensure it doesn't inherit other button styles */
    padding: 0; /* Override padding from generic button styles */
    margin: 0;  /* Override margin */
}

.thumbnail-container .remove-button:hover {
    background-color: #ff4444;
}

#cancel-button {
    display: none;
}

#review-details-container {
    background-color: #d4e7df; 
    padding-bottom: 20px; 
}
#toggle-review-button {
    background-color: #4caf50; 
    color: white; 
    border:  none;  
    padding: 10px 20px;
    position: relative; 
    top: -90px; 
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; /* Smooth color transition */
}

#toggle-review-button:hover {
    background-color: #45a049; /* A slightly darker gray for hover effect */
}

/* Modal Container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed to stay in place */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Align center */
    width: 500px; /* Adjust width as needed */
    background-color: white;
    z-index: 1000; /* Ensure it overlays other elements */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: left;
}


/* Modal Content */
.modal-content {
    background-color: white;
    border-radius: 10px;
    width: 500px; /* Adjust width to match the content */
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
}

/* Close Button */
.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* Heading */
.modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Star Rating */
.stars {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.stars .fa-star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.stars .fa-star.selected {
    color: gold;
}

/* Comment Box */
textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    margin-top: 10px;
}

#renter-comment-box {
    margin-left: 0; /* Adjust this to move the box left */
    padding-left: 10px; /* Optional: add internal padding for better spacing */
    width: calc(100% - 20px); /* Adjust to make sure it fits nicely in the container */
}

/* Action Buttons */
.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.action-buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-buttons #renter-review-cancel-button {
    background-color: #ccc;
}

.action-buttons #renter-review-submit-button {
    background-color: #f28b82;
    color: white;
    opacity: 1;
}

.action-buttons button:hover {
    opacity: 0.8;
}

.rating-description {
    margin-top: 10px;
    font-size: 14px;
    color: #555; /* Adjust color as needed */
}
.rating-description strong {
    font-weight: bold;
}
.stars .fa-star {
    font-size: 24px;
    color: #ccc; /* Default color */
    cursor: pointer;
    transition: color 0.3s;
}

.stars .fa-star.selected {
    color: gold; /* Highlight color */
}

/* Footer Styles */
.footer {
    width: 100%;
    background-color: #036e3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-top: auto; /* Push the footer to the bottom when the content is short */
}


.footer .left-side-footer, .footer .right-side-footer {
    display: flex;
    align-items: center;
}

.footer .left-side-footer {
    flex: 1;
}

.footer .right-side-footer {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.footer p {
    margin: 0;
    padding: 0 10px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.contact-icons {
    display: flex;
    align-items: center;
}

.contact-icons a {
    margin-left: 10px;
    color: white;
    font-size: 1.5rem;
}

.contact-icons a:hover {
    color: #f5f5f5;
}

@media (min-width: 769px) {
    .mobile-logout {
        display: none;
    }

    /* Show the desktop logout button */
    .user-info #logout {
        display: inline;
    }
}

@media (max-width: 768px) {
    .mobile-logout {
        display: block;
    }

    /* Hide the desktop logout button in mobile view */
    .user-info #logout {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar #nav-links {
        display: none; /* Hide links initially */
        flex-direction: column; /* Stack items vertically in mobile view */
        position: absolute;
        right: 0;
        top: 85px; /* Positioned just below the nav bar */
        background-color: white;
        width: 200px;
        z-index: 1000; /* Ensure dropdown is on top */
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    }

    .nav-bar #nav-links.active {
        display: flex; /* Show links when active class is toggled */
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 60px; /* Adjusted for mobile view */
        z-index: 1000;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .user-info {
        position: absolute;
        top: 50%;
        right: 90px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }

    #logout {
        display: none;
    }
    .footer {
        display: none;
    }
}
/* Media query for smaller devices */
@media screen and (max-width: 600px) {
    .modal {
        width: 90%; /* Take up most of the screen width */
        padding: 15px; /* Reduce padding */
    }

    .modal-content {
        width: 100%; /* Use full width inside the modal */
        padding: 10px; /* Adjust padding */
    }

    .action-buttons {
        flex-direction: column; /* Stack buttons vertically */
        gap: 10px; /* Add space between buttons */
        align-items: stretch; /* Make buttons full width */
    }

    .rating-section {
        flex-direction: column; /* Stack label and stars vertically */
        align-items: flex-start; /* Align content to the left */
        gap: 15px; /* Add spacing between the label and stars */
    }

    .stars .fa-star {
        font-size: 20px; /* Reduce star size for better fit */
    }

    .review-comment textarea {
        height: 80px; /* Adjust height for smaller screens */
    }

    .rating-description {
        font-size: 12px; /* Reduce font size for smaller screens */
    }
}